* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;
}
div {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}

img {
  max-width: 150px;
}
